In [102]:
import pandas as pd
df = pd.read_csv('data1.csv')

Menampilkan nama kolom dan tipe datanya

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3327 entries, 0 to 3326
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Timestamp          3322 non-null   object
 1   Email Address      3323 non-null   object
 2   Nama Peminjam      3323 non-null   object
 3   Jurusan / Prodi    3327 non-null   object
 4   Kelas              3323 non-null   object
 5   Nama Laboratorium  3322 non-null   object
 6   Keperluan          3322 non-null   object
 7   Tanggal            3322 non-null   object
 8   waktu              3322 non-null   object
 9   No HP WA           3322 non-null   object
 10  KPM / KTP / SIM    3322 non-null   object
 11  Unnamed: 11        2 non-null      object
dtypes: object(12)
memory usage: 312.0+ KB

Menampilkan data pada data frame

In [104]:
df

,Timestamp,Email Address,Nama Peminjam,Jurusan / Prodi,Kelas,Nama Laboratorium,Keperluan,Tanggal,waktu,No HP WA,KPM / KTP / SIM,Unnamed: 11
0,2/1/2024 8:04:38,kurniawanm061@gmail.com,m.kurniawan,Manajemen Informatika,MI4,RUANG COMLAB 1.1,kuliah,2/1/2024,8:04:00 AM,082179439575,https://drive.google.com/open?id=1mt7HtvvXwr90...,NaN
1,2/1/2024 8:31:13,fernandico.geovardo01@gmail.com,Fernandico,Teknik Informatika Bilingual,A,Lab. RPL & Sistem Informasi (Comlab Lt.3),aslab,2/1/2024,8:30:00 AM,089626033557,https://drive.google.com/open?id=1SQiIZBXVE-q2...,NaN
2,2/1/2024 9:00:05,zxxfrn@gmail.com,Muhammad Zhafran,Teknik Informatika Bilingual,p2,Lab. Kecerdasan Buatan & Grafika Komp (Comlab ...,projek,2/1/2024,8:59:00 AM,089530694913,https://drive.google.com/open?id=1TyjfYbBBrSky...,NaN
3,2/1/2024 9:39:51,zakiramadan019@gmail.com,Zaki Tirta Ramadan,Teknik Komputer,TK4B,Lab. Jaringan Komputer & Komdat (Comlab Lt.2),Peminjam Kunci,2/1/2024,9:38:00 AM,083803960442,https://drive.google.com/open?id=1hnejGhgCT3F9...,NaN
4,2/1/2024 9:54:15,rakhelguntur0@gmail.com,Rakhel Guntur Fahreza,Komputerisasi Akuntansi,Ka4,Lab. Struktur Data & SI Akuntansi (Comlab Lt.3),Praktikum zahir,2/1/2024,9:53:00 AM,085267061621,https://drive.google.com/open?id=1EJrIrs7GC-Ng...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3322,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3323,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3324,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3325,NaN,NaN,NaN,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3326,NaN,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Menampilkan jumlah data kosong pada kolom dan persentasenya

In [105]:
missing_data = df.isnull().sum()
missing_data
missing_data = missing_data[missing_data > 0].sort_values(ascending=False)
missing_percentage = (missing_data / len(df)) * 100
missing_summary = pd.DataFrame({'Missing Values': missing_data, 'Percentage': missing_percentage})
missing_summary

                   Missing Values  Percentage
Unnamed: 11                  3325   99.939886
Nama Laboratorium               5    0.150286
Timestamp                       5    0.150286
No HP WA                        5    0.150286
waktu                           5    0.150286
Tanggal                         5    0.150286
Keperluan                       5    0.150286
KPM / KTP / SIM                 5    0.150286
Email Address                   4    0.120228
Nama Peminjam                   4    0.120228
Kelas                           4    0.120228

Menghapus kolom yang memiliki jumlah data kosong lebih dari 50%

In [106]:
columns_to_drop = missing_percentage[missing_percentage >= 50].index
df_cleaned = df.drop(columns=columns_to_drop)

Menampilkan kembali jumlah data kosong

In [107]:
missing_data = df_cleaned.isnull().sum()
missing_data
missing_data = missing_data[missing_data > 0].sort_values(ascending=False)
missing_percentage = (missing_data / len(df_cleaned)) * 100
missing_summary = pd.DataFrame({'Missing Values': missing_data, 'Percentage': missing_percentage})
missing_summary

                   Missing Values  Percentage
Timestamp                       5    0.150286
Keperluan                       5    0.150286
No HP WA                        5    0.150286
Nama Laboratorium               5    0.150286
waktu                           5    0.150286
Tanggal                         5    0.150286
KPM / KTP / SIM                 5    0.150286
Email Address                   4    0.120228
Nama Peminjam                   4    0.120228
Kelas                           4    0.120228

In [108]:
df_cleaned.tail()

,Timestamp,Email Address,Nama Peminjam,Jurusan / Prodi,Kelas,Nama Laboratorium,Keperluan,Tanggal,waktu,No HP WA,KPM / KTP / SIM
3322,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3323,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3324,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3325,NaN,NaN,NaN,,,NaN,NaN,NaN,NaN,NaN,NaN
3326,NaN,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Menghapus baris yang memiliki data kosong lebih dari 50%

In [109]:
threshold = len(df_cleaned.columns) / 2
df_cleaned = df_cleaned.dropna(thresh=threshold)
df_cleaned

,Timestamp,Email Address,Nama Peminjam,Jurusan / Prodi,Kelas,Nama Laboratorium,Keperluan,Tanggal,waktu,No HP WA,KPM / KTP / SIM
0,2/1/2024 8:04:38,kurniawanm061@gmail.com,m.kurniawan,Manajemen Informatika,MI4,RUANG COMLAB 1.1,kuliah,2/1/2024,8:04:00 AM,082179439575,https://drive.google.com/open?id=1mt7HtvvXwr90...
1,2/1/2024 8:31:13,fernandico.geovardo01@gmail.com,Fernandico,Teknik Informatika Bilingual,A,Lab. RPL & Sistem Informasi (Comlab Lt.3),aslab,2/1/2024,8:30:00 AM,089626033557,https://drive.google.com/open?id=1SQiIZBXVE-q2...
2,2/1/2024 9:00:05,zxxfrn@gmail.com,Muhammad Zhafran,Teknik Informatika Bilingual,p2,Lab. Kecerdasan Buatan & Grafika Komp (Comlab ...,projek,2/1/2024,8:59:00 AM,089530694913,https://drive.google.com/open?id=1TyjfYbBBrSky...
3,2/1/2024 9:39:51,zakiramadan019@gmail.com,Zaki Tirta Ramadan,Teknik Komputer,TK4B,Lab. Jaringan Komputer & Komdat (Comlab Lt.2),Peminjam Kunci,2/1/2024,9:38:00 AM,083803960442,https://drive.google.com/open?id=1hnejGhgCT3F9...
4,2/1/2024 9:54:15,rakhelguntur0@gmail.com,Rakhel Guntur Fahreza,Komputerisasi Akuntansi,Ka4,Lab. Struktur Data & SI Akuntansi (Comlab Lt.3),Praktikum zahir,2/1/2024,9:53:00 AM,085267061621,https://drive.google.com/open?id=1EJrIrs7GC-Ng...
...,...,...,...,...,...,...,...,...,...,...,...
3317,4/24/2025 9:27:12,09011282126080@student.unsri.ac.id,Ebenezer Hutahaean,Sistem Komputer,SK 8B REGULER,Lab. Perangkat keras & Teknologi Komponen (Com...,TA,4/24/2025,9:26:00 AM,082269113481,https://drive.google.com/open?id=1ezZfulXWQZ0U...
3318,4/24/2025 10:40:30,putrifazza88@gmail.com,Fazza,Sistem Komputer,Sku8,Lab. Elektronika & Sistem Digital (Comlab Lt.2),Tugas akhir,4/24/2025,10:40:00 AM,081324784254,https://drive.google.com/open?id=15qkHvTR3bOiA...
3319,4/24/2025 10:49:27,destaanggrizy@gmail.com,Desta Anggrizy,Teknik Komputer,-,Lab. Jaringan Komputer & Komdat (Comlab Lt.2),TUGAS AKHIR,4/24/2025,10:48:00 AM,082175205059,https://drive.google.com/open?id=13g7CC-zDrIGb...
3320,4/24/2025 11:39:51,mhdakbartgm@gmail.com,Muhammad Akbar,Manajemen Informatika,MI 4B,Lab. Basis Data & Big Data (Comlab Lt.4),Praktikum Pemrograman Visual,4/24/2025,11:40:00 AM,081278948316,https://drive.google.com/open?id=1DkGalPB80e8o...
3321,4/24/2025 11:56:27,ruqi.mqadar2@gmail.com,Ruqi Muqa Ramadhan,Teknik Komputer,TK2B,RUANG Studio (Comlab Lt.4),Interaksi manusia komputer,4/24/2025,11:55:00 AM,088287200638,https://drive.google.com/open?id=1mzRH5BVSxxNm...

Menampilkan kembali jumlah data kosong

In [110]:
df_cleaned.isnull().sum()

Timestamp            0
Email Address        0
Nama Peminjam        0
Jurusan / Prodi      0
Kelas                0
Nama Laboratorium    0
Keperluan            0
Tanggal              0
waktu                0
No HP WA             0
KPM / KTP / SIM      0
dtype: int64

In [111]:
df_cleaned["Jurusan / Prodi"].unique()

array(['Manajemen Informatika', 'Teknik Informatika Bilingual',
       'Teknik Komputer', 'Komputerisasi Akuntansi', 'Sistem Komputer',
       'Sistem Informasi Bilingual', 'Magister Ilmu Komputer'],
      dtype=object)

Menghapus kolom yang tidak diperlukan

In [112]:
df_cleaned = df_cleaned.drop(columns=['Email Address', 'Kelas', 'Nama Peminjam', 'Tanggal', 'waktu', 'No HP WA', 'KPM / KTP / SIM'])
df_cleaned.head()

,Timestamp,Jurusan / Prodi,Nama Laboratorium,Keperluan
0,2/1/2024 8:04:38,Manajemen Informatika,RUANG COMLAB 1.1,kuliah
1,2/1/2024 8:31:13,Teknik Informatika Bilingual,Lab. RPL & Sistem Informasi (Comlab Lt.3),aslab
2,2/1/2024 9:00:05,Teknik Informatika Bilingual,Lab. Kecerdasan Buatan & Grafika Komp (Comlab ...,projek
3,2/1/2024 9:39:51,Teknik Komputer,Lab. Jaringan Komputer & Komdat (Comlab Lt.2),Peminjam Kunci
4,2/1/2024 9:54:15,Komputerisasi Akuntansi,Lab. Struktur Data & SI Akuntansi (Comlab Lt.3),Praktikum zahir

Mengubah tipe data kolom Timestamp dari object menjadi datetimes

In [113]:
df_cleaned['Timestamp'] = pd.to_datetime(df_cleaned['Timestamp'])

In [114]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3322 entries, 0 to 3321
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Timestamp          3322 non-null   datetime64[ns]
 1   Jurusan / Prodi    3322 non-null   object
 2   Nama Laboratorium  3322 non-null   object
 3   Keperluan          3322 non-null   object
dtypes: datetime64[ns](1), object(3)
memory usage: 129.8+ KB

Membuat kolom baru yaitu Hari berdasarkan nilai Timestamp

In [115]:
df_cleaned['Hari'] = df_cleaned['Timestamp'].dt.day_name()

In [116]:
df_cleaned['Hari'] = df_cleaned['Hari'].map({'Sunday': 'Minggu', 'Monday': 'Senin', 'Tuesday': 'Selasa', 'Wednesday': 'Rabu', 'Thursday': 'Kamis', 'Friday': 'Jumat', 'Saturday': 'Sabtu'})
df_cleaned.tail()

,Timestamp,Jurusan / Prodi,Nama Laboratorium,Keperluan,Hari
3317,2025-04-24 09:27:12,Sistem Komputer,Lab. Perangkat keras & Teknologi Komponen (Com...,TA,Kamis
3318,2025-04-24 10:40:30,Sistem Komputer,Lab. Elektronika & Sistem Digital (Comlab Lt.2),Tugas akhir,Kamis
3319,2025-04-24 10:49:27,Teknik Komputer,Lab. Jaringan Komputer & Komdat (Comlab Lt.2),TUGAS AKHIR,Kamis
3320,2025-04-24 11:39:51,Manajemen Informatika,Lab. Basis Data & Big Data (Comlab Lt.4),Praktikum Pemrograman Visual,Kamis
3321,2025-04-24 11:56:27,Teknik Komputer,RUANG Studio (Comlab Lt.4),Interaksi manusia komputer,Kamis

In [117]:
print(df_cleaned['Hari'].unique())

['Kamis' 'Jumat' 'Senin' 'Selasa' 'Rabu' 'Sabtu']

Membuat kolom baru gabungan Jurusan / Prodi dan Hari

In [118]:
df_cleaned['Jurusan_Hari'] = df_cleaned['Jurusan / Prodi'] + ' - ' + df_cleaned['Hari']

In [119]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3322 entries, 0 to 3321
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Timestamp          3322 non-null   datetime64[ns]
 1   Jurusan / Prodi    3322 non-null   object
 2   Nama Laboratorium  3322 non-null   object
 3   Keperluan          3322 non-null   object
 4   Hari               3322 non-null   object
 5   Jurusan_Hari       3322 non-null   object
dtypes: datetime64[ns](1), object(5)
memory usage: 181.7+ KB

Mengibah format data menjadi daftar transaksi

In [120]:
transactions = df_cleaned[['Jurusan_Hari', 'Nama Laboratorium']].values.tolist()

Mengubah daftar transaksi menjadi format one-hot encoding

In [ ]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

,,Komputerisasi Akuntansi - Jumat,Komputerisasi Akuntansi - Kamis,Komputerisasi Akuntansi - Rabu,Komputerisasi Akuntansi - Selasa,Komputerisasi Akuntansi - Senin,Lab. Basis Data & Big Data (Comlab Lt.4),Lab. Elektronika & Sistem Digital (Comlab Lt.2),Lab. Jaringan Komputer & Komdat (Comlab Lt.2),Lab. Kecerdasan Buatan & Grafika Komp (Comlab Lt.2),...,Teknik Informatika Bilingual - Jumat,Teknik Informatika Bilingual - Kamis,Teknik Informatika Bilingual - Rabu,Teknik Informatika Bilingual - Selasa,Teknik Informatika Bilingual - Senin,Teknik Komputer - Jumat,Teknik Komputer - Kamis,Teknik Komputer - Rabu,Teknik Komputer - Selasa,Teknik Komputer - Senin
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Menjalankan Algoritma apriori untuk mencari frekuensi data

In [122]:
from mlxtend.frequent_patterns import apriori

frequent_itemsets = apriori(df_encoded, min_support=0.001, use_colnames=True)

Membuat aturan asosiasi berdasarkan itemset yang sering muncul

In [123]:
from mlxtend.frequent_patterns import association_rules

rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.4)

Mengecek apakah rules kosong

In [124]:
print(rules.empty)

False

Menampilkan bebrapa fitur pada rules

In [125]:
rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']]

,antecedents,consequents,support,confidence,lift
0,(Komputerisasi Akuntansi - Jumat),(Lab. Struktur Data & SI Akuntansi (Comlab Lt.3)),0.009633,0.444444,5.349436
1,(Komputerisasi Akuntansi - Kamis),(Lab. Struktur Data & SI Akuntansi (Comlab Lt.3)),0.006020,0.476190,5.731539
2,(Komputerisasi Akuntansi - Selasa),(Lab. Struktur Data & SI Akuntansi (Comlab Lt.3)),0.010837,0.455696,5.484865
3,(Komputerisasi Akuntansi - Senin),(Lab. RPL & Sistem Informasi (Comlab Lt.3)),0.006924,0.450980,6.016694
4,(Komputerisasi Akuntansi - Senin),(Lab. Struktur Data & SI Akuntansi (Comlab Lt.3)),0.007827,0.509804,6.136118
5,(Sistem Komputer - Rabu),(Lab. Elektronika & Sistem Digital (Comlab Lt.2)),0.015352,0.428571,4.995489
6,(Teknik Informatika Bilingual - Jumat),(Lab. Pengolahan Citra & Pengenalan Pola (Coml...,0.013245,0.571429,10.097264
7,(Teknik Informatika Bilingual - Senin),(Lab. Pengolahan Citra & Pengenalan Pola (Coml...,0.010837,0.507042,8.959545

Menampilkan hasil dalam bentuk kalimat

In [126]:
for index, row in rules.iterrows():
    print(f"Jika {set(row['antecedents'])} maka {set(row['consequents'])} dengan confidence {row['confidence']:.2f} dan lift {row['lift']:.2f}")

Jika {'Komputerisasi Akuntansi - Jumat'} maka {'Lab. Struktur Data & SI Akuntansi (Comlab Lt.3)'} dengan confidence 0.44 dan lift 5.35
Jika {'Komputerisasi Akuntansi - Kamis'} maka {'Lab. Struktur Data & SI Akuntansi (Comlab Lt.3)'} dengan confidence 0.48 dan lift 5.73
Jika {'Komputerisasi Akuntansi - Selasa'} maka {'Lab. Struktur Data & SI Akuntansi (Comlab Lt.3)'} dengan confidence 0.46 dan lift 5.48
Jika {'Komputerisasi Akuntansi - Senin'} maka {'Lab. RPL & Sistem Informasi (Comlab Lt.3)'} dengan confidence 0.45 dan lift 6.02
Jika {'Komputerisasi Akuntansi - Senin'} maka {'Lab. Struktur Data & SI Akuntansi (Comlab Lt.3)'} dengan confidence 0.51 dan lift 6.14
Jika {'Sistem Komputer - Rabu'} maka {'Lab. Elektronika & Sistem Digital (Comlab Lt.2)'} dengan confidence 0.43 dan lift 5.00
Jika {'Teknik Informatika Bilingual - Jumat'} maka {'Lab. Pengolahan Citra & Pengenalan Pola (Comlab Lt.3)'} dengan confidence 0.57 dan lift 10.10
Jika {'Teknik Informatika Bilingual - Senin'} maka {'Lab. Pengolahan Citra & Pengenalan Pola (Comlab Lt.3)'} dengan confidence 0.51 dan lift 8.96

Menyimpan rules untuk digunakan pada UI

In [127]:
# rules['antecedents'] = rules['antecedents'].apply(lambda x: str(set(x)))
# rules['consequents'] = rules['consequents'].apply(lambda x: str(set(x)))
# rules.to_csv('rules.csv', index=False)